body{
    padding: 0;
    margin: 0;
    background-color: #98B4D4;
}



/* Header Container ------------------- */
.headContainer{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 0px 5% 2% 5%;
    justify-content: center;
    position: sticky;
}

/* NAVBAR ---------------------- */
.navContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#navBar{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 50px;
}

#navBar li{
    list-style-type: none;
    font-size: 18px;
}

#navBar a{
    text-decoration: none;
    color: #f9faf8;
}

/* IMAGE ----------------------- */
.imageContainer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#headshot{
    border-radius: 50%;
    border: solid #e5e7eb 5px;
}

/* BODY --------------------- */
.bodyContainer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50%;
}

/* ABOUT SECTION */
.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #98B4D4;
    color: #1f2937;
    padding-bottom: 5em;
    border-bottom: 2px solid gray;
}

.aboutDescrib{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50%;
    padding: 0px 20% 2% 20%;
    text-align: center;
    font-size: x-large;
}


/* ABOUT LIST ------------------ */

.aboutList{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    font-size: large;
}

.aboutList img{
    height: 10em;
    width: 10em;
}

.all-list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.all-list li{
    list-style-type: none;
}

/* PROJECTS ------------------- */
.projectsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10% 0px 10% 0px;
}

.project{
    display: flex;
    height: 10em;
    width: 10em;
    border: solid #1f2937 3px;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}

.project a{
    text-decoration: none;
    color: #e5e7eb;
}

.pj1{
    background-color: #1974D2;
}

.pj2{
    background-color: #FFAA1D;
}

.pj3{
    background-color: #66FF00;
}

.pj4{
    background-color: #F12424;
}


/* CONNECT -------------- */
.connectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #98B4D4;
    height: 35%;
    padding: 2% 0px 2% 0px;
    width: 70%;
    margin: 0 auto;
    border-top: 1px solid gray;

}

.connect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    list-style-type: none;
    /* height: 4em; */
    padding: 2% 10% 2% 10%;
    border-radius: 10px;
}

.connect a{
    text-decoration: none;
    color: #e5e7eb;
}

#connectForm{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

#connectForm input{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 97%;
    padding: 12px;
}

#connectForm textarea{
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submitBtn{
    background-color: #1974D2;
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
    padding: 1em 2em 1em 2em;
    font-size: large;
}

/* FOOTER --------------------- */
footer{
    text-align: center;
    background-color: #1f2937;
    padding: 2% 10% 2% 10%;
    color: #e5e7eb;

}